@font-face{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    src: local('Space Grotesk'),
    url('../assets/fonts/SpaceGrotesk-Light.ttf');
}

@font-face{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: local('Space Grotesk'),
    url('../assets/fonts/SpaceGrotesk-Regular.ttf');
}

@font-face{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    src: local('Space Grotesk'),
    url('../assets/fonts/SpaceGrotesk-Medium.ttf');
}

@font-face{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    src: local('Space Grotesk'),
    url('../assets/fonts/SpaceGrotesk-SemiBold.ttf');
}

@font-face{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    src: local('Space Grotesk'),
    url('../assets/fonts/SpaceGrotesk-Bold.ttf');
}
