@import "spacing.css";
@import "colors.css";
@import "typography.css";

body {
    background: linear-gradient(45deg, #432093 0%, #90DAFD 100%) no-repeat;
    background-size: cover;
    overflow:hidden;
}

.header {
    height: var(--spacing-56);
    padding: var(--spacing-40) var(--spacing-56);
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navigation__item-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__list-item {
    color: var(--color-white);
}

.navigation__social {
    color: var(--color-white);
    display: flex;
    gap: var(--spacing-24);
}

.navigation__social-media-icon {
    height: 24px;
}

.navigation__cart {
    color: var(--color-white);
}

.slider__item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.slider__item-image {
    min-height: 633px;
    min-width: 600px;
}

.slider__item-data {
    display: flex;
    justify-content: space-between;
}

.slider__item-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-8);

}

.slider__item-description-price {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 500;
}

.slider__item-description-rating {
    height: 20px;
    width: 108px;
}

.slider__item-description-text {
    color: var(--color-white);
}

.slider__item-actions {
    align-items: flex-end;
    color: var(--color-white);
    display: flex;
    flex: 1;
    font-size: 32px;
    font-weight: 500;
    justify-content: flex-end;
}

.slider__item-buy {
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 32px;
    font-weight: 500;
}

.slider__arrow {
    border: 1px solid white;
    border-radius: 50%;
    display: block;
    height: 200px;
    position: absolute;
    top: 30%;
    width: 200px;
}

.slider__arrow--left {
    left: -3em;
}

.slider__arrow--right {
    right: -3em;
}
